body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #d867c6;
  background: -webkit-linear-gradient(45deg,#c77ff2,#e8519e);
  background: -o-linear-gradient(45deg,#c77ff2,#e8519e);
  background: -moz-linear-gradient(45deg,#c77ff2,#e8519e);
  background: linear-gradient(45deg,#c77ff2,#e8519e);
}

.app{
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vh;
  background: white;
  align-items: center;
  overflow: scroll;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

}
.bigForm{
 text-align: start;
 outline: none;
 word-wrap: break-word;
}

.header{
  padding: 1rem;
  font-weight: 900;
  align-self: center;
  font-family: 'Raleway', sans-serif;
  color:black;

}

.date{
  color: darkgrey;
  font-size: 10px;
}

.input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Raleway-SemiBold';
  
}
.displayspan{
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-content: space-between;
  overflow: scroll;
  max-height: 100px;
}
.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
  margin-bottom: 6px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 3px 10px;
  max-width: 250px;
  
}

.title{
  align-self: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color:gray;
}